        <div id="footer">    
            <p><%= author %></p>
            <img id="footer__image-mahh" src="/img/Logo-Mahh.png" alt="logo Mahh">
            <a href="mailto:joffrey.dortoli@hotmail.fr">Me contacter !</a>
        </div>
        <script src="/js/script.js"></script>
    </body>
</html>