<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <% if ("/terre/country") { %>
        <link rel="stylesheet" href="/css/country.css">
    <% } %>
    <link rel="shortcut icon" type="image/ico" href="/img/favicon_Mahh.ico"/>
    <title>Planets</title>
</head>
<body>
    <header id="header">
        <a href="/" id="headerTitle">Mahhlabs</a>
        <nav id="nav">
                <a class="link_header" href="/solarsystem">Sytème solaire</a>
                <a class="link_header" href="/terre/countrys">Pays liste</a>
        </nav>
    </header>
    
