<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="shortcut icon" type="image/ico" href="/img/favicon_Mahh.ico"/>
    <title>Planets</title>
</head>
<body>
    <header id="header">
        <a href="/" id="headerTitle">Lab tests Mahhland</a>
        <nav>
            <ul>
                <li><a href="/solarsystem">Sytème solaire</a></li>
                <li><a href="/terre/countrys">Pays</a></li>
            </ul>
        </nav>
    </header>
    