body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* *** Header *** */
#header {
    padding: 1.5em;
    display: flex;
    justify-content: space-around;
    background: url(../img/banner.PNG) no-repeat center;
    font-weight: 900;
    background-size: cover;
}

#headerTitle {
    padding: 0.4em;
    font-size: 6em;
}

#nav {
    display: flex;
    padding-top: 2em;
    flex-direction: column;
    gap: 1em;
}

.link_header {
    padding: 0.5em;
    background-color: #000;
    border: 3px solid #fff;
    border-radius: 6px;
    text-align: center;
}

/* *** Acceuil *** */
#para_acceuil {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2em;
}

#images_acceuil {
    position: relative;
}
#soleil_acceuil {
    position: absolute;
    animation: rotation 100s infinite linear;
    width: 22%;
    top: 5%;
    left: 6%;
}

#img_map_acceuil {
    width: 20%;
    position: absolute;
    bottom: 32%;
    right: 6%;
}

#img_acceuil {
    width: 100%;
}

.title_pages {
    text-align: center;
    font-size: 2.2em;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1.8em;
    text-transform: uppercase;
}

/* *** Search field *** */
.search {
    padding: 1em;
    text-align: center;
}
  
.search_input {
    padding: 0.5em;
    border-radius: 0.4em;
}
  
.search_btn {
    padding: 0.5em;
    border-radius: 0.4em;
}

/* *** SolarSystem *** */
#planets {
    text-align: center;
}
.planets {
    width: 22%;
    height: 280px;
}

.planets_liens {
    text-transform: uppercase;
}

.planets_images {
    width: 86%;
    padding-bottom: 2em;
    animation: rotation 60s infinite linear;
}

.planets_images:hover{
    width: 92%;
    animation-play-state: paused;
}

/* *** Planets pages *** */
#container_pageplanetes {
    text-align: center;
}

#dimaetre_planet {
    font-size: 1.4em;
    margin-bottom: 1em;
}

#planets {
    display: flex;
    margin: 2em auto;
    padding: 1.8em;
    max-width: 1200px;
    gap: 10px 20px;
    flex-wrap: wrap;
}

.imgPlanetsPage {
    width: 500px;
}

.spitchPlanetsPage {
    max-width: 800px;
    padding: 0.5em;
    margin: 1em auto;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

.show {
    color: #F0F;
}

/* *** Country Page *** */
#container_country {
    text-align: center;
}

.high {
    font-size: 1.4em;
    line-height: 1.2em;
}

.para_country {
    font-size: 1.2em;
}
/* *** Error page *** */
#container_notfound {
    text-align: center;
}

.titleh3_pages {
    font-size: 2em;
    padding-top: 3em;
}

#img404 {
    width: 65%;
}

#backhome {
    font-size: 1.8em;
    padding: 0.5em;
    border: 3px solid orange;
    border-radius: 20px;
}

/* Mobile css */
@media (max-width: 650px) {
    #header {
        text-align: center;
        flex-direction: column;
    }

    #headerTitle {
        font-size: 3em;
    }

    #nav {
        margin: 0 auto;
        padding-top: 0.5em;
        flex-direction: row;
    }

    #para_acceuil {
        width: 350px;
    }

    .link_header {
        width: 9em;
        padding: 0.2em;
        border: 1px solid #fff;
    }

    .title_pages {
        font-size: 1em;
    }
    .planets {
        width: 45%;
    }

    .imgPlanetsPage {
        width: 80%;
    }
    
    .spitchPlanetsPage {
        width: 90%;
        margin: 1em auto;
    }

    #backhome {
        font-size: 0.8em;
        padding: 0.5em;
        border: 1px solid orange;
        border-radius: 10px;
    }
}