body {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 2em;
    background: url(../img/banner.PNG) no-repeat center;
    font-weight: 900;
    background-size: cover;
}

#headerTitle {
    font-family: Arial;
    font-size: 4em;
}

.search {
    padding: 1em;
    text-align: center;
}
  
.search_input {
    padding: 0.5em;
    border-radius: 1px;
}
  
.search_btn {
    padding: 0.5em;
    border-radius: 1px;
}

#titlePlanetPage {
    font-size: 2.2em;
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1.8em;
    text-transform: uppercase;
}

#planeteDiametre {
    font-size: 1.4em;
    margin-bottom: 2em;
}
#planets {
    display: flex;
    margin: 2em auto;
    padding: 1.8em;
    max-width: 1200px;
    justify-content: center;
    gap: 10px 20px;
    flex-wrap: wrap;
}

.planets {
    width: 22%;
    height: 280px;
}

.planets_liens {
    text-transform: uppercase;
}

.planets_images {
    width: 86%;
    padding-bottom: 2em;
    animation: rotation 60s infinite linear;
}

.planets_images:hover{
    width: 92%;
    animation-play-state: paused;
}

#imgspitchPlanetsPage {
    /* display: flex; */
}

.imgPlanetsPage {
    width: 500px;
}

.spitchPlanetsPage {
    max-width: 800px;
    padding: 0.5em;
    margin: 1em auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-top: 2em;
}

#footer__image-mahh {
    width: 100px;
    margin: 0 1.2em;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

.show {
    color: #F0F;
}

/* *** Error page *** */
#img404 {
    width: 65%;
}

#backhome {
    font-size: 1.8em;
    padding: 0.5em;
    border: 3px solid orange;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .planets {
        width: 45%;
        /* height: 300px; */
    }
    .imgPlanetsPage {
        width: 80%;
    }
    
    .spitchPlanetsPage {
        width: 90%;
        margin: 1em auto;
    }

}