body {
    text-align: center;
    font-size: 1.4em;
    background-color: #000;
    color: #fff;
}

#header {
    padding: 0.2em;
    font-weight: bold;
    background: url(../img/banner.PNG) no-repeat center;
    background-size: cover;
}

#title {
    font-size: 3.4em;
}

#title2 {
    font-size: 2.2em;
    margin-top: 2em;
}

#title3 {
    font-size: 1.4em;
}

a {
    color: #fff;
}

#planets {
    display: flex;
    margin: 1.6em auto;
    padding: 1.8em;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
}

.planets {
    width: 250px;
}

.planets_images {
    width: 80%;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

#footer__image-mahh {
    width: 200px;
}

#title {
    /* transform: rotate(180deg); */
}
