<%- include('partials/header') %>
<h1>Ici l'acceuil</h1>
<nav>
    <ul>
        <li><a href="/solarsystem">Sytème solaire</a></li>
        <li><a href="/pays">Pays</a></li>
    </ul>
</nav>
<%- include('partials/footer') %>