<%- include('partials/header') %>
<div id="container_acceuil">
    <h2 class="title_pages">Le labos de mes essais</h2>
    <p id="para_acceuil">Spicy jalapeno bacon ipsum dolor amet ham hock filet mignon pancetta, short loin ball tip rump capicola pork chop short ribs shoulder swine tail. Jerky strip steak shoulder pancetta doner rump, pork chop pork meatloaf sirloin spare ribs chuck cupim capicola brisket. Filet mignon prosciutto fatback pastrami swine jowl meatball. Alcatra bresaola tenderloin shank corned beef turkey.</p>
    <div id="images_acceuil">
        <a href="/solarsystem"><img id="soleil_acceuil" src="/img/soleil.png" alt="img soleil"></a>
        <a href="/terre/countrys"><img id="img_map_acceuil" src="/img/mapmonde.jpg" alt="img map monde"></a>
        <img id="img_acceuil" src="/img/laboratory.jpg" alt="labs img">
    </div>
</div>
<%- include('partials/footer') %>