<%- include('partials/header') %>
<div id="container_notfound">
    <img id="img404" alt="404" src="/img/error404.jpg">
    <br>
    <a href="/" id="backhome">Back to home</a>
</div>
<%- include('partials/footer') %>